{
  "controller_url": "https://your-controller.ui.com",
  "api_key": "YOUR_UNIFI_API_KEY_HERE",
  "site_id": "default",
  "vpn_id": "WireGuard1",
  "vpn_subnet_cidr": "192.168.3.0/24",
  "vpn_server_public_key": "oC1SzPBjRURW213U+kpsbsCMIJHARt7iG9cqA55c1zw=",
  "vpn_server_endpoint": "23.31.111.185:51820",
  "vpn_dns": ["192.168.3.1", "fd01:ec44:d2bd:b589::1"],
  "output_dir": "C:\\Users\\DanRighter\\OneDrive - Strongbridge\\Downloads"
}
